@page "/about"

<Header></Header>
<div id="aboutBlock" class="mainContainer baseHorizontalPaddings">
	<img id="aboutImg" src="images/about.png"/>
	
	<div id="infoBlock">
		<h2>About Us</h2>

		<p class="LightGrayColorText">Our mission is simple yet powerful: to help individuals struggling with drug and alcohol problems find hope, healing, and lasting recovery through modern alternative therapies. </p>

		<p class="LightGrayColorText">We believe in a holistic approach that addresses not only the physical aspects of addiction but also the emotional, mental, and spiritual well-being of our clients.</p>
	</div>

</div>
<Menu openedPage="about"></Menu>